<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Classifcation</title>
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <p class="text-3xl font-bold ml-6 my-8">Image Classification</p>
    <div class="m-4 p-4 border-2 rounded">
      <div hx-get="/image-classification" hx-trigger="load"></div>
    </div>
    <div class="m-4 p-4 border-2 rounded">
      <div hx-get="/plot" hx-trigger="load"></div>
    </div>
  </body>
</html>
