<ul>
  <li>
    <a
      href="#"
      hx-get="home"
      hx-target="#content"
      class="block p-2 rounded hover:bg-gray-700"
      >Home</a
    >
  </li>
  <li>
    <a
      href="#"
      hx-get="image-classification"
      hx-target="#content"
      class="block p-2 rounded hover:bg-gray-700"
      >Evaluate</a
    >
  </li>
  <li>
    <a
      href="#"
      hx-get="history"
      hx-target="#content"
      class="block p-2 rounded hover:bg-gray-700"
      >History</a
    >
  </li>
</ul>
